#intro_area {
  /* background-color: rgb(50, 0, 100); */
  color: white;
  margin-top: 5vw;
  margin-top: 10vw;
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

@media(max-width: 515px) {
  #intro_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 17vw;
  }
}

#intro_text_area {
  width: 51vw;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  margin-top: 2.8 vh;
  /* justify-content: center; */
  font-size: 2.5vw;
}

@media(max-width: 515px) {
  #intro_text_area {
    width: 90vw;
    display: flex;
    align-items: center;
    font-size: large;
    /* height: 18vh; */
    text-align: center;
  }
}

#my_name {
  /* font-size: xx-large; */
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: rgb(0, 192, 58);
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media(max-width: 515px) {
  #my_name {
    font-size: 5vw;
  }
}

#intro_bio {
  font-size: large;
  font-size: 0.7em;
}

@media(max-width: 515px) {
  #intro_bio {
    /* bellow property to be change when developer changes the text of bio */
    min-height: 140px;
  }
}

#intro_img {
  height: 25vw;
  width: 30vw;
  align-self: center;
  display: flex;
  align-items: center;
}

@media(max-width: 515px) {
  #intro_img {
    height: 53vw;
    justify-content: center;
  }
}

#intro_img img {
  height: 100%;
  animation: intro-img 1.2s;
}

@keyframes intro-img {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#social_area {
  /* background-color: pink; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 6vh;
}

@media(max-width: 515px) {
  #social_area {
    display: grid;
    margin-top: 1vh;
    grid-template-columns: auto auto;
  }
}

#first_sb {
  animation: fsb-show 1.5s;
}

@keyframes fsb-show {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 0%;
  }

  40% {
    opacity: 100%;
  }
}

#second_sb {
  animation: ssb-show 1.5s;
}

@keyframes ssb-show {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  60% {
    opacity: 100%;
  }
}

#third_sb {
  animation: tsb-show 1.5s;
}

@keyframes tsb-show {
  0% {
    opacity: 0%;
  }

  60% {
    opacity: 0%;
  }

  80% {
    opacity: 100%;
  }
}

#fourth_sb {
  animation: fosb-show 1.5s;
}

@keyframes fosb-show {
  0% {
    opacity: 0%;
  }

  80% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.soc_med_btn {
  background-color: rgb(0, 151, 88);
  display: flex;
  width: 12vw;
  height: 4vw;
  border-radius: 5em;
  font-size: 1.5vw;
  overflow: hidden;
  transition: 0.2s;
}

.soc_med_btn:hover {
  box-shadow: 0em 0em 0.7em 0.2em rgb(47, 202, 0);
}

@media(max-width: 515px) {
  .soc_med_btn {
    width: 28vw;
    height: 10vw;
    margin-top: 3vh;
  }
}

.soc_med_btn a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.icon_bg {
  background-color: white;
  height: 3.3vw;
  width: 3.3vw;
  border-radius: 50%;
  margin-left: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media(max-width: 515px) {
  .icon_bg {
    height: 8vw;
    width: 8vw;
    margin-left: 0.8em;
  }
}

.soc_med_txt {
  margin-left: 6%;
  font-weight: 600;
}

@media(max-width: 515px) {
  .soc_med_txt {
    font-size: 2em;
  }
}

#project_area {
  height: max-content;
  padding: 3.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project_box {
  background-color: rgb(29, 78, 44);
  border: 0.3rem solid rgb(0, 151, 88);
  border-radius: 2rem;
  /* margin: 0.5rem; */
  margin: 2rem;
  margin-top: 3rem;
  /* height: 20vw; */
  /* width: 15vw; */
  height: 24rem;
  width: 18rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project_img_box {
  background-color: rgb(189, 178, 178);
  background-color: rgb(90, 33, 33);
  height: 45%;
  position: relative;
}

.project_img {
  /* position: relative; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_img img {
  height: 100%;
  width: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.img_chng_btn {
  height: 20%;
  width: 8%;
  border-radius: 20%;
  background-color: rgb(88, 165, 141);
  border: transparent;
  font-weight: 900;
  font-size: large;
  cursor: pointer;
}

#prev_img {
  position: absolute;
  top: 50%;
  left: 3%;
}

#nxt_img {
  position: absolute;
  top: 50%;
  right: 3%;
}

.project_info_box {
  /* background-color: brown; */
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_name_box {
  background-color: rgb(8, 39, 8);
  height: 25%;
  width: 90%;
  border-radius: 1em;
  margin-top: 5%;
  overflow: hidden;
  align-content: center;
  font-size: 1.5em;
  color: rgb(235, 235, 125);
}

.Project_title {
  width: max-content;
  position: relative;
  animation: pname 7s linear infinite;
}

@keyframes pname {
  0% {
    left: 100%;
  }

  100% {
    left: -150%;
  }
}

.no_move {
  margin-left: 8%;
}

.project_tags {
  /* background-color: red; */
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
}

.project_tags p {
  padding-left: 5%;
  padding-right: 5%;
  align-content: center;
  width: max-content;
  height: 35%;
  background-color: rgb(67, 122, 104);
  border-radius: 0.5em;
  color: bisque;
}

@media(max-width: 654px) {
  .project_tags {
    font-size: 0.8em;
  }
}

.visit_btn {
  margin-top: 2.7%;
  height: 20%;
  width: 60%;
  border-radius: 0.8em;
  text-align: center;
  align-content: center;
  font-size: 1.2em;
  background-color: rgb(235, 235, 125);
  display: flex;
  justify-content: center;
  align-items: center;
}

.visit_btn a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  align-content: center;
}