#intro_area {
  /* background-color: rgb(50, 0, 100); */
  color: white;
  margin-top: 5vw;
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

@media(max-width: 515px) {
  #intro_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 5vw;
  }
}

#intro_text_area {
  width: 51vw;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  margin-top: 2.8 vh;
  /* justify-content: center; */
  font-size: 2.5vw;
}

@media(max-width: 515px) {
  #intro_text_area{
    width: 90vw;
    display: flex;
    align-items: center;
    font-size: large;
    /* height: 18vh; */
    text-align: center;
  }
}

#my_name {
  /* font-size: xx-large; */
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: rgb(0, 192, 58);
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media(max-width: 515px) {
  #my_name{
    font-size: 5vw;
  }
}

#intro_bio {
  font-size: large;
  font-size: 0.7em;
}

@media(max-width: 515px) {
  #intro_bio{
    /* bellow property to be change when developer changes the text of bio */
    min-height: 140px;
  }
}

#intro_img {
  /* background-color: aqua; */
  /* padding: 1em; */
  height: 25vw;
  width: 30vw;
  align-self: center;
  display: flex;
  align-items: center;
}

@media(max-width: 515px) {
  #intro_img{
    height: 53vw;
    justify-content: center;
  }
}

#intro_img img {
  height: 100%;
  animation: intro-img 3s;
}

@keyframes intro-img{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

#social_area {
  background-color: pink;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

#grid_soc_med {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 70%;
}

@media(max-width: 515px) {
  #grid_soc_med {
    grid-template-columns: auto auto;
  }
}