* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  background-color: rgb(50, 50, 50);
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#bckg {
  /* background-color: rgb(30, 30, 30); */
  /* below css comand is to be removed afterwards. */
  /* height: 111vh; */
  padding-bottom: 15vh;
  background-color: rgb(30, 30, 30);
}

#nav_area {
  display: flex;
  justify-content: center;
}

@media(max-width: 515px) {
  #nav_area {
    background-color: rgb(151, 149, 129);
  }
}

#nav_bar {
  background-color: rgb(0, 151, 88);
  width: 65vw;
  height: 50px;
  border-radius: 1em 1em 1em 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  animation: nav_anim 0.5s linear;
  z-index: 9;
}

@keyframes nav_anim {
  from {
    top: -50px;
  }

  to {
    top: 0px;
  }
}

@media(max-width: 515px) {
  #nav_bar {
    width: 100%;
    border-radius: 0em;
    justify-content: space-between;
  }
}

#nav_title {
  display: none;
}

@media(max-width: 515px) {
  #nav_title {
    display: block;
    margin-left: 5%;
  }
}

#nav_toggle_btn {
  display: none;
}

@media(max-width: 515px) {
  #nav_toggle_btn {
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 55);
    border: none;
    height: 2.5em;
    width: 2.5em;
    border-radius: 1em;
    position: relative;
    /* color: rgb(0, 66, 33); */
    margin-right: 5%;
    z-index: 10;
    /* font-weight: 800; */
    /* font-size: medium; */
  }
}

#nav_toggle {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media(max-width: 515px) {
  #nav_toggle {
    background-color: rgb(151, 149, 129, 0.95);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: block; */
    /* align-content: center; */
    /* below property to be changed to toggle it with javascript */
    display: none;
  }
}

.nav_btn {
  height: 2.2em;
  width: 30%;
  /* border: 0.1em solid black; */
  /* background-color: rgb(0, 151, 88); */
  background-color: rgb(0, 192, 58);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-weight: 700;
  transition: 0.3s;
}

@media(max-width: 750px) {
  .nav_btn {
    font-size: small;
  }
}

@media(max-width: 515px) {
  .nav_btn {
    /* position: relative; */
    border-radius: 0px;
    margin-bottom: 1em;
    border-radius: 1em;
    width: 65%;
    font-size: medium;
    height: 6.5vh;
  }
}

.nav_btn:hover {
  background-color: rgb(40, 168, 94);
}

.nav_btn a {
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_name {
  margin-top: 5vh;
  width: 80%;
  background-color: rgb(0, 192, 58);
  font-size: 2.25vw;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.title_bg_box {
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  border-radius: 1vw 1vw 0vw 0vw;
  background-color: rgb(0, 192, 58);
  font-weight: 900;
  height: 3.3vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 21%;
}

@media(max-width: 654px) {
  .title_bg_box {
    width: 30%;
    height: 5vw;
    font-size: 3.3vw;
  }
}

.title_uderline {
  height: 0.2vw;
  background-color: rgb(0, 192, 58);
  box-shadow: 0em 0.1em 0.4em 0em rgb(88, 150, 58);
}

@media(max-width: 654px) {
  .title_uderline {
    height: 0.6vw;
  }
}

.title_pl {
  border-radius: 0vw 0vw 1vw 0vw;
}

.title_pr {
  border-radius: 0vw 0vw 0vw 1vw;
}

.dp {
  height: 1.7vw;
  width: 39.55%;
  background-color: rgb(30, 30, 30);
}

@media(max-width: 654px) {
  .dp {
    height: 2.5vw;
    width: 35.05%;
  }
}