* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

#navbar {
  height: 35px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  font-size: small;
}

@media(max-width: 800px) {
  #navbar {
    display: none;
  }
}

#nav-1 {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#nav-1 a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(202, 202, 202);
  transition: 0.3s;
}

#nav-1 a:hover {
  color: rgb(202, 26, 79);
}

#nav-2 {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

#nav-2 a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(202, 202, 202);
  transition: 0.3s;
}

#nav-2 a:hover {
  color: rgb(219, 86, 126);
}

#menu-bar {
  height: 75px;
  background-color: rgb(49, 56, 70);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

@media(max-width: 1100px){
  #menu-bar {
    position: relative;
  }
}

#logo {
  display: flex;
  align-items: center;
  padding-left: 3%;
}

#logo img {
  max-width: 100%;
  max-height: 100%;
}

#menu-btn-area {
  display: flex;
}

@media(max-width: 1100px) {
  #menu-btn-area {
    display: none;
  }
}

#menu-btn-area a {
  text-decoration: none;
  color: white;
}

.menu-btn {
  font-size: medium;
  height: 100%;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  align-content: center;
  transition: 0.2s;
}

/* @media(max-width: 1000px) {
  .menu-btn {
    font-size: x-small;
  }
}

@media(max-width: 773px) {
  .menu-btn {
    font-size: xx-small;
  }
} */

.menu-btn:hover {
  background-color: rgb(202, 26, 79);
}

#user-action {
  display: flex;
  align-items: center;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

#search a {
  color: white;
}

#search a:hover {
  color: yellow;
}

.user-action-icon {
  font-size: x-large;
}

#ad-slides {
  background-color: purple;
  height: 44vw;
  overflow: hidden;
  position: relative;
  display: flex;
}

.ad-img{
  width: 100%;
  display: flex;
}

.ad-img img{
  width: 100%;
  height: max-content;
}

#ad-slide-ctrls{
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* align-content: center; */
}

#ad-btn-clrstr{
height: 44vw;
display: flex;
align-items: center;
justify-content: space-between;
}

.ad-slide-btn{
  height: 4vw;
  width: 3vw;
}

.ad-slide-btn:hover{
  background-color: palevioletred;
}

#ad-tabs{
  /* background-color: rgb(170, 16, 16); */
  width: max-content;
  height: 100%;
  display: flex;
  padding-bottom: 1vw;
}

.ad-t{
  border: 2px solid palevioletred;
  width: 3.5vw;
  height: 1vw;
  background-color: rgb(134, 57, 71);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 1vw;
  align-self: flex-end;
}

.ad-t:hover{
  background-color: palevioletred;
}